@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1568011124') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1568011124') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1568011124') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1568011124') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-heart-outlined:before { content: "\e90f"; }

.icon-heart1:before { content: "\e910"; }

.icon-menu:before { content: "\e911"; }

.icon-star-full:before { content: "\e90c"; }

.icon-search:before { content: "\e900"; }

.icon-maximize:before { content: "\e90b"; }

.icon-heart:before { content: "\e9da"; }

.icon-folder-upload:before { content: "\e906"; }

.icon-rotate:before { content: "\e90a"; }

.icon-mail:before { content: "\e904"; }

.icon-star-o:before { content: "\e90d"; }

.icon-star:before { content: "\e90e"; }

.icon-cloud-upload:before { content: "\e905"; }

.icon-arrow_back_ios:before { content: "\e901"; }

.icon-arrow_downward:before { content: "\e902"; }

.icon-arrow_upward:before { content: "\e903"; }

.icon-arrow_forward:before { content: "\e907"; }

.icon-arrow_drop_down_circle:before { content: "\e908"; }

.icon-play_arrow:before { content: "\e909"; }
