@import "Ginkgo";

html {
  position: relative;

  body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;

    background-color: rgba(255, 255, 255, .9);
    color: rgba(90, 90, 90, 1.00);
    text-align: center;
    font-size: medium;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
  }
}

$main-padding: 20px 100px;
$mobile-main-padding: 20px;

figure {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 100%;
  height: 80px;
  padding: $main-padding;
  transition: .3s all ease-out;

  @include range-width(0, 1000px) {
    padding: $mobile-main-padding;
  }

  &.active {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 12px rgba(64, 64, 64, 0.51);
    > * {
      color: gray;
    }
    .menu {
      a {
        color: gray;
      }
    }
  }

  > * {
    display: inline-block;
    float: left;
    line-height: 40px;
    height: 100%;
    color: white;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  #chk-menu {
    display: none;
    z-index: -999999;
  }

  label.icon-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;

    &:before {
      margin-right: 5px;
    }
  }
  .menu {
    float: right;
    a {
      color: white;
      text-decoration: none;
      + a {
        margin-left: 30px;
      }

      &.active {
        color: #ffa900;
      }

      &:hover {
        color: rgb(195, 195, 195);
      }
    }
  }
  @include range-width(0, 720px) {
    position: fixed;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 12px rgba(64, 64, 64, 0.51);

    > * {
      color: gray;
    }
    
    .logo {
      line-height: 20px;
    }

    label.icon-menu { 
      display: inline-block;
    }

    .menu {
      position: fixed;
      z-index: 0;
      top: -400px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: rgba(255, 255, 255, 0.88);
      padding: 10px 20px;
      opacity: .5;
      transition: top .3s;

      a {
        display: block;
        text-align: left;
        color: gray;
        + a {
          margin-left: 0;
        }
      }
    }

    #chk-menu {
      &:checked {
        ~ .menu { 
          top: 60px;
          opacity: 1;
        }
      }
    }
  }
}

.stage-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 700px;
  z-index: 1;

  .stage-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transition: .10s all ease-out;
    @include opacity(0);
    @include transition(opacity 5s);

    &.active {
      @include opacity(1);
    }

    figure {
      margin: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
      }
    }

  }

  .circle-spot {
    position: absolute;
    left: 0;
    bottom: 150px;
    display: inline-block;
    z-index: 3;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    > * {
      display: inline-block;
      width: 12px;
      height: 12px;
      line-height: 50px;
      background-color: rgba(255, 255, 255, 0.26);
      border-radius: 50%;

      &.active {
        background-color: rgba(247, 202, 106, 1.00);
      }
      + * {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  .main-topic {
    display: inline-block;
    width: 100%;
    margin-top: 226px;
    padding: $main-padding;

    @include range-width(0, 1000px) {
      padding: $mobile-main-padding;
    }
    > * {
      position: relative;
      z-index: 2;
      letter-spacing: 5px;
      color: white;
      text-align: left;
    }
    h1 {
      font-size: 50px;
      // font-weight: lighter;
      margin: 0 auto;
      font-weight: normal;
    }
    span {
      display: inline-block;
      width: 100%;
      font-size: 23px;
      margin-top: 10px;
      color: white;
      text-align: left;
      font-weight: lighter;
    }
    
  }
  @include range-width(0, 720px) {
    height: 550px;
    .circle-spot {
      padding: 0;
      bottom: 115px;
    }

    .main-topic {
      margin-top: 180px;
      h1 {
        font-size: 30px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

.search-block {
  position: relative;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: $main-padding;
  padding-left: 80px;
  padding-right: 80px;

  @include range-width(0, 1000px) {
    padding: $mobile-main-padding;
  }
  .search-tab {
    position: absolute;
    top: -50px;
    left: 60px;
    display: inline-block;
    z-index: 2;
    margin: 0 auto;

    @include range-width(0, 1000px) {
      padding: 0;
      left: 20px;
    }

    > * {
      display: inline-block;
      float: left;
      background-color: white;
      height: 50px;
      padding: 0 40px;
      letter-spacing: 6px;
      font-size: 16px;
      line-height: 50px;
      color: rgba(248, 197, 110, 1.00);
      &.active {
        background: rgba(247, 202, 106, 1.00);
        color: white;
        height: 60px;
        line-height: 60px;
        margin-top: -10px;
      }

      + * {
      }
    }

    @include range-width(0, 720px) {
      top: -40px;
      > * {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        &.active {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }

  form {
    display: flex;
    justify-content: space-evenly;

    > * {
      margin: 20px;
      padding: 10px;
    }

    input[type="text"] {
      width: 100%;

      border: 2px solid rgba(255, 255, 225, 0.9);
      background-color: transparent;
      color: white;
      font-size: 16px;
      padding: 0 15px;

      transition: box-shadow .3s, border-color .3s;

      &:focus {
        outline: 0;
        border: 2px solid rgba(255, 255, 255, 1.00);
        box-shadow: 0 0 8px rgba(red(rgba(255, 255, 255, 1.00)), green(rgba(255, 255, 255, 1.00)), blue(rgba(255, 255, 255, 1.00)), .6);
      }

      @include input-placeholder {
        font-weight: normal;
        color: rgba(255, 255, 225, .9);
        font-size: 16px;
      }
    }

    button {
      display: inline-flex;
      width: 350px;
      height: 50px;
      background-color: white;
      border: none;
      font-size: 16px;
      line-height: 33px;
      box-shadow: 1px 1px 12px #8a8a8a91;
      color: #696969;
      border-radius: 5px;
      text-align: center;
      &:before {
        font-size: 16px;
        margin: 0 5px;
      }

      &:focus {
        outline: 0;
      }
    }

    @include range-width(720px, 900px) {
      > * {
        margin: 10px;
      }
    }

    @include range-width(0, 720px) {
      flex-direction: column;
      > * {
        margin: 10px;
      }
      input[type="text"] {
        height: 40px;
        width: auto;
      }
      button {
        display: inline-block;
        width: auto;
        height: 40px;
        line-height: 23px;
      }
    }
  }
}

/* section block */
.video-txt-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > * {
    display: inline-block;
    width: 50%; 
    height: 600px;
  }

  figure {
    margin: 0 auto;
    overflow: hidden;
  }
  .play {
    position: absolute;
    display: inline-block;
    top: 248px;
    left: calc(50% - 50px);
    background-color: rgb(253, 153, 49);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-decoration: none;
    animation: pulse 2s infinite;
    transition: .3s all ease;
    z-index: 5;

    &:before {
      font-size: 33px;
      line-height: 100px;
      color: white;
    }

    &:after {
      position: absolute;
      left: 0;
      content: '';
      display: inline-block;
      width: 100px;
      height: 100px;
      z-index: 99;
      border-radius: 50%;
      background-color: rgba(253, 153, 49, .9);
      @include opacity(0);
      @include animation(myShadow 2s infinite);
    }

    @include keyframes(myShadow) {
      0% { @include scale(1); @include opacity(1); }
      100% { @include scale(1.5); @include opacity(0); }
    }

    @include range-width(0, 700px) {
      width: 70px;
      height: 70px;
      left: calc(50% - 35px);
      top: 264px;

      &:before {
        line-height: 70px;
      }
      &:after {
        width: 70px;
        height: 70px;
      }
    }
  }

  .text-block {
    padding: 50px;
    padding-left: 80px;
    text-align: left;
    overflow: hidden;
    background-color:  rgb(247, 247, 247);

    p {
      display: -webkit-box;
      height: 396px;
      width: 100%;
      line-height: 30px;
      color: gray;
      overflow: hidden;

      text-overflow: ellipsis;
      -webkit-line-clamp: 13;
      -webkit-box-orient: vertical;
    }
  }

  @include range-width(0, 720px) {
    > * {
      width: 100%;
      height: 50%;
    }
    figure {
      height: 300px;
    }
    .text-block {
      padding: 30px;
      padding-left: 30px;
      p {
        height: auto;
        -webkit-line-clamp: 100;
        overflow: none;
      }
    }
  }
}

.video-block {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;

  h2 {
    padding: 20px 0;
  }
  figure {
    position: relative;
    height: 500px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: rgba(53, 53, 53, 0.55);
    }
  }

  .play {
    position: absolute;
    display: inline-block;
    top: 300px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    text-decoration: none;
    line-height: 100px;

    &:before {
      font-size: 36px;
      line-height: 90px;
      color: white;
    }

    &:hover {
      border: 5px solid rgba(251, 152, 63, 1.00);
      &:before {
        color: rgba(251, 152, 63, 1.00);
      }
    }
  }
}

.hot-spot-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;

  > * {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  h2 {
    letter-spacing: 2px;
    padding: 50px;
  }

  .photos-block {
    display: flex;
    flex-wrap: wrap;

    > * {
      display: inline-block;
      flex-basis: calc(100% / 4);
      // max-height: 350px;
      height: 350px;
      // height: 100%;
      @include range-width(700px, 1200px) {
        flex-basis: calc(100% / 2);
      }
      @include range-width(0, 700px) {
        flex-basis: 100%;
        height: 200px;
      }
    }


    .box {
      position: relative;
      overflow: hidden;

      .open-detail {
        position: absolute;
        display: none;
        transform: rotate(90deg);
        top: 30px;
        left: calc(50% - 15px);
        color: white;
        &:before {
          font-size: 25px;
        }
      }
      figure {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          opacity: .8;
        }
      }

      .box-detail {
        position: absolute;
        width: 100%;
        bottom: -150px;
        left: 0;
        height: 250px;
        padding: 10px 20px;
        transition: bottom .2s;

        // @include range-width(0, 700px) {
        //   height: 200px;
        //   bottom: -96px;
        // }
        > * {
          display: block;
          text-align: left;
          letter-spacing: 2px;
        }
        b {
          position: relative;
          margin-bottom: 100px;
          font-size: 17px;
          color: white;
          z-index: 4;

          max-height: 75px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .dates {
          position: relative;
          z-index: 4;
          display: inline-block;
          width: 100%;
          font-size: 12px;
          color: white;
          > * {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 15px;
            text-decoration: none;
            color: white;
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            margin-top: 5px;
            + * {
              margin-left: 5px;
            }
          }
        }
        span.price {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-weight: bold;
          font-size: 20px;
          color: rgb(255, 176, 71);
          z-index: 4;
          transition: opacity .2s;

        }
      }
      &:hover {
        .box-detail {
          bottom: 0;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.95);
          padding: 20px;

          b {
            color: rgb(90, 90, 90);
            margin-bottom: 20px;
          }
        }
      }

      @include range-width(0, 700px) {
        .box-detail { 
          height: 200px;
          bottom: -96px;
        }
        .open-detail {
          display: inline-block;
        }

        &.active {
          .box-detail {
            bottom: 0;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.95);
            padding: 20px;

            b {
              color: rgb(90, 90, 90);
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.brand-block {
  display: inline-block;
  // display: flex;
  // flex-wrap: wrap;
  width: 100%;
  padding: 30px 0px;
  text-align: left;
  margin-bottom: 30px;

  h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .banner-main {
    display: block;
    height: 300px;
    overflow-y: scroll;
    white-space: nowrap;
    padding-top: 12px;

    .banner-item {
      display: inline-block;
      text-decoration: none;
      width: 200px;
      height: 200px;
      margin: 20px;

      &:first-child {
        margin-left: 50px;
      }

      figure {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 10px 59px -27px black;

        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 5;
          color: white;
          width: 100%;
          height: 50px;
          text-align: center;
          line-height: 43px;
          background-image: linear-gradient(120deg, rgba(246, 211, 101, 0.8) 0%, rgba(251, 119, 81, 0.8) 100%);
          // background-color: rgba(253, 173, 55, 0.71);
          box-shadow: 0px 10px 59px -27px black;
        }
      }
      transition: transform .3s;

      &:hover {
        transform: scale(1.1);
      }

    }
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

/* theme */
body.orange {
  .navigate { 
    &.active {
      // background-color: rgba(255, 152, 19, 0.65);
    }
  }
  .stage-outer {
    .stage-item {
      figure {
        &:before {
          background-color: rgba(208, 115, 15, 0.34);
        }
      }
    }
  }
}






