
@import "Ginkgo";

html {
  position: relative;

  body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    // padding: 20px;
    background-color: rgba(255, 255, 255, 1.00);
    color: rgba(90, 90, 90, 1.00);
    text-align: center;
    font-size: medium;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
  }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(120, 175, 25, 1.00);
    color: white;
    text-align: left;
    font-size: 25px;
    padding: 0 20px;
    font-style: italic;
    z-index: 999;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.22);
}

$max-width: 1200px;
.title-topic {
    display: inline-block;
    width: 100%;  
    height: 155px;  
    background: rgba(237, 243, 247, 1.00);
    padding-top: 60px;

    .content {
        display: inline-block;
        width: 100%;  
        max-width: $max-width;

        h1 {
            margin: 0 auto;
            text-align: left;
            height: 100%;
            line-height: 96px;
            color: rgba(141, 205, 47, 1.00);
            font-size: 25px;
            letter-spacing: 2px;
            span {
                display: inline-block;
                color: rgb(81, 87, 91);
                font-size: 18px;
                margin-right: 12px;
            }
        }
        @include range-width(0, 1200px) {
            max-width: 1000px;
        }
    }
}

main {
    display: inline-block;
    width: 100%;
    max-width: $max-width;
    padding-top: 40px;
    margin-bottom: 100px;

    .back {
        display: inline-block;
        float: right;
        text-decoration: none;
        color: rgba(120, 175, 25, 1.00);

        &:hover {
            color: green;
        }
    }
    .order-detail-card {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-top: 60px;
        @include clearfix();

        > * {
            display: inline-block;
            width: 100%;
        }
        .header {
            position: absolute;
            height: 40px;
            line-height: 40px;
            top: 20px;
            left: 0;
            @include clearfix();

            > * {
                display: inline-block;
                height: 100%;
                float: left;
                text-align: left;
                padding-left: 20px;

                &:nth-child(1) {
                    position: relative;
                    width: calc(100% - 400px);
                    background: rgba(124, 160, 183, 0.34);
                    color: #7496a7;
                    &:after {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        top: calc(15%);
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 15px solid transparent;
                        border-right: 15px solid #eff2f3;
                        border-bottom: 15px solid transparent;
                    }
                }
                &:nth-child(2) {
                    width: 400px;
                    background: rgba(237, 243, 247, 1.00);
                    color: rgba(150, 168, 179, 1.00);
                }
            }
        }

        .hotel-topic {
            height: 400px;
            background-color: #f4f8fa;
            overflow: hidden;
            @include clearfix();
            > * {
                display: inline-block;
                float: left;
            }
            .card-left {
                width: calc(100% - 400px);
                @include clearfix();

                > * {
                    display: inline-block;
                    float: left;
                }
               
                figure {
                    margin: 0;
                    display: inline-block;
                    width: 340px;
                    height: 400px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;

                }

                .content {
                    width: calc(100% - 340px);
                    text-align: left;
                    h3 {
                        padding: 20px;
                        margin: 0 auto;
                    }
                    p {
                        padding: 20px;
                        padding-top: 0px;
                        color: rgba(150, 168, 179, 1.00);
                        height: calc(400px - 66px - 52px);
                        overflow: hidden;
                        margin: 0 auto;
                    }
                    .star {
                        margin-top: 10px;
                        padding-right: 20px;
                        height: 42px;
                        line-height: 42px;
                        border-top: 1px solid rgba(203, 219, 230, 1.00);
                        text-align: right;
                        color: rgba(253, 191, 46, 1.00);
                        > i {
                            display: inline-block;
                            height: 42px;
                            line-height: 42px;
                            font-size: 20px;
                        }
                    }
                }

                border-right: 1px solid rgba(203, 219, 230, 1.00);
            }
            .card-right {
                position: relative;
                width: 400px;
                height: 400px;
                padding: 20px;
                .where {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    float: left;
                    margin-bottom: 30px;
                    > * {
                        display: inline-block;
                    }
                    .country {
                        font-size: 30px;
                        color: rgba(120, 175, 25, 1.00);
                    }
                    .days {
                        font-size: 25px;
                        color: #676767;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                }
                .status {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 20px;
                    border-bottom: 1px dashed rgba(203, 219, 230, 1.00);
                    b {
                        display: inline-block;
                        margin-bottom: 20px;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: red;
                        color: white;
                    }
                }
                .note {
                    display: block;
                    width: 100%;

                    table {
                        width: 100%;
                        color: rgb(117, 174, 108);
                        border-spacing: 0;
                        border-collapse: collapse;
                        border-color: rgba(3, 200, 83, 1.00);

                        td, th {
                            border: 1px solid rgb(178, 224, 186);
                            padding: 7px 9px 7px 25px;
                        }

                        td {
                            text-align: left;
                        }
                    }
                }
                
                .date {
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    right: -77px;
                    bottom: 10px;
                    font-style: italic;
                    color: rgb(160, 160, 160);
                    font-weight: lighter;
                    letter-spacing: 2px;
                }
            }
        }
        .room-detail {
            margin-top: 50px;
            border: 1px solid rgba(203, 219, 230, 1.00);
            padding: 30px 40px;

            .room-box {
                display: inline-block;
                width: 100%;
                text-align: left;
                > * {
                    display: inline-block;
                }
                b {
                    font-size: 20px;
                    padding-bottom: 8px;
                    border-bottom: 2px solid rgba(143, 203, 61, 1.00);
                    margin-bottom: 30px;
                }
                .date {
                    line-height: 33px;
                    font-size: 15px;
                    float: right;
                    letter-spacing: 1px;
                    color: rgb(146, 146, 146);
                    i {
                        line-height: 33px;
                        font-size: 17px;
                        margin-right: 5px;
                    }
                }
                .note {
                    display: inline-block;
                    width: 100%;
                    height: 100px;
                    margin-bottom: 20px;
                    @include clearfix();
                    > * {
                        display: inline-block;
                        float: left;
                        height: 100%;
                    }

                    .note-box {
                        width: calc(100% / 3 - 15px);
                        height: 100%;
                        box-shadow: 1px 1px 4px 1px rgb(225, 225, 225);
                        + .note-box {
                            margin-left: 20px;
                        }
                        @include clearfix();
                        > * {
                            display: inline-block;
                            float: left;

                            &.icon {
                                height: 100%;
                                width: 100px;
                                background-color: rgba(120, 175, 25, 1.00);

                                span {
                                    display: inline-block;
                                    width: calc(100% - 28px);
                                    height: calc(100% - 28px);
                                    border-radius: 50%;
                                    background-color: white;
                                    margin-top: 14px;
                                    margin-left: 14px;
                                    i {
                                        display: inline-block;
                                        height: 100px;
                                        width: 100%;
                                        line-height: 77px;
                                        text-align: center;
                                        font-size: 38px;
                                    }
                                }
                            }
                            &.content {
                                height: 100%;
                                width: calc(100% - 100px);
                                line-height: 100px;
                                text-align: center;
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: 2px;
                            }
                        }
                        figure {
                            position: relative;
                            margin: 0;
                            display: inline-block;
                            width: 100%;
                            height: 100px;
                            overflow: hidden;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;

                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                content: attr(data-title);
                                width: 100%;
                                height: 100%;
                                line-height: 100px;

                                background-color: rgba(0, 0, 0, 0.61);
                                font-size: 18px;
                                letter-spacing: 2px;
                                color: white;
                                text-align: center;
                                @include opacity(1);

                                @include transition(opacity .5s);
                            }

                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);
                                height: 300px;
                                border: 7px solid rgb(95, 168, 60);
                                border-radius: 3px;
                                &:before {
                                    @include opacity(0);
                                }
                            }
                        }

                    }
                }
                table {
                    width: 100%;
                    color: #999898;
                    margin-bottom: 11px;
                    font: 14px 'Open Sans';
                    background-color: transparent;
                    border-spacing: 0;
                    border-collapse: collapse;
                    border-color: gray;

                    td, th {
                        border: 1px solid #ebebeb!important;
                        padding: 15px 17px 14px 17px!important;
                    }

                    th {
                        color: rgba(121, 173, 42, 1.00);
                    }

                    tr {
                        &:hover {
                            background-color: rgba(121, 173, 42, 0.12);
                        }
                        &:first-child {
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }

                    td {
                        &.status {
                            &.unconfirm span {

                                padding: 5px 10px;
                                background-color: rgb(234, 36, 36);
                                color: white;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .amount {
                    display: inline-block;
                    width: 100%;
                    margin-top: 20px;
                    border-top: 1px solid rgba(235, 235, 235, 1.00);
                }
                
                + .room-box {
                    margin-top: 30px;
                }
            }
        }
    }




}








