
@import "Ginkgo";

html {
  position: relative;

  body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    // padding: 20px;
    background-color: rgba(255, 255, 255, 1.00);
    color: rgba(90, 90, 90, 1.00);
    text-align: center;
    font-size: medium;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
  }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(120, 175, 25, 1.00);
    color: white;
    text-align: left;
    font-size: 25px;
    padding: 0 20px;
    font-style: italic;
    z-index: 999;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.22);
}

$max-width: 1200px;
.title-topic {
    display: inline-block;
    width: 100%;  
    height: 155px;  
    background: rgba(237, 243, 247, 1.00);
    padding-top: 60px;

    .content {
        display: inline-block;
        width: 100%;  
        max-width: $max-width;

        h1 {
            margin: 0 auto;
            text-align: left;
            height: 100%;
            line-height: 96px;
            color: rgba(141, 205, 47, 1.00);
            font-size: 25px;
        }
        @include range-width(0, 1200px) {
            max-width: 1000px;
        }
    }
}

main {
    display: inline-block;
    width: 100%;
    max-width: $max-width;
    padding-top: 60px;
    margin-bottom: 100px;

    .order-detail-card {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-top: 60px;
        @include clearfix();

        > * {
            display: inline-block;
            width: 100%;
        }
        .header {
            position: absolute;
            height: 40px;
            line-height: 40px;
            top: 20px;
            left: 0;
            @include clearfix();

            > * {
                display: inline-block;
                height: 100%;
                float: left;
                text-align: left;
                padding-left: 20px;

                &:nth-child(1) {
                    position: relative;
                    width: calc(100% - 400px);
                    background: rgba(124, 160, 183, 0.34);
                    color: white;
                    &:after {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        top: calc(15%);
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 15px solid transparent;
                        border-right: 15px solid #eff2f3;
                        border-bottom: 15px solid transparent;
                    }
                }
                &:nth-child(2) {
                    width: 400px;
                    background: rgba(237, 243, 247, 1.00);
                    color: rgba(150, 168, 179, 1.00);
                }
            }
        }

        .hotel-topic {
            height: 400px;
            background-color: #f4f8fa;
            overflow: hidden;
            @include clearfix();
            > * {
                display: inline-block;
                float: left;
            }
            .card-left {
                width: calc(100% - 400px);
                @include clearfix();

                > * {
                    display: inline-block;
                    float: left;
                }
               
                figure {
                    margin: 0;
                    display: inline-block;
                    width: 340px;
                    height: 400px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;

                }

                .content {
                    width: calc(100% - 340px);
                    text-align: left;
                    h3 {
                        padding: 20px;
                        margin: 0 auto;
                    }
                    p {
                        padding: 20px;
                        padding-top: 0px;
                        color: rgba(150, 168, 179, 1.00);
                        height: calc(400px - 66px - 52px);
                        overflow: hidden;
                        margin: 0 auto;
                    }
                    .star {
                        margin-top: 10px;
                        padding-right: 20px;
                        height: 42px;
                        line-height: 42px;
                        border-top: 1px solid rgba(203, 219, 230, 1.00);
                        text-align: right;
                        color: rgba(253, 191, 46, 1.00);
                        > i {
                            display: inline-block;
                            height: 42px;
                            line-height: 42px;
                            font-size: 20px;
                        }
                    }
                }

                border-right: 1px solid rgba(203, 219, 230, 1.00);
            }
            .card-right {
                width: 400px;
            }
        }
        .room-detail {
            margin-top: 50px;
            border: 1px solid rgba(203, 219, 230, 1.00);
            padding: 30px 40px;

            .room-box {
                display: inline-block;
                width: 100%;
                text-align: left;
                > * {
                    display: inline-block;
                }
                b {
                    font-size: 20px;
                    padding-bottom: 8px;
                    border-bottom: 2px solid rgba(143, 203, 61, 1.00);
                    margin-bottom: 30px;
                }
                .date {
                    display: inline-block;
                    line-height: 33px;
                    font-size: 15px;
                    float: right;
                    letter-spacing: 1px;
                    color: rgb(146, 146, 146);
                    i {
                        line-height: 33px;
                        font-size: 17px;
                        margin-right: 5px;
                    }
                }
                table {
                    width: 100%;
                    color: #999898;
                    margin-bottom: 11px;
                    font: 14px 'Open Sans';
                    background-color: transparent;
                    border-spacing: 0;
                    border-collapse: collapse;
                    border-color: gray;

                    td, th {
                        border: 1px solid #ebebeb!important;
                        padding: 15px 17px 14px 17px!important;
                    }

                    th {
                        color: rgba(121, 173, 42, 1.00);
                    }

                    tr {
                        &:hover {
                            background-color: rgba(121, 173, 42, 0.12);
                        }
                        &:first-child {
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }

                    td {
                        &.status {
                            &.unconfirm span {

                                padding: 5px 10px;
                                background-color: rgb(234, 36, 36);
                                color: white;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .amount {
                    display: inline-block;
                    width: 100%;
                    margin-top: 20px;
                    border-top: 1px solid rgba(235, 235, 235, 1.00);
                }
                
                + .room-box {
                    margin-top: 30px;
                }
            }
        }
    }




}








